<!DOCTYPE html>
<html lang="en" >
   <head>
      <meta charset="UTF-8">
      <title>Login Page</title>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <link rel="stylesheet" href="./static/css/style.css">
      <style>
          header {
                text-align: right;
                background: transparent;
                padding: 13px 10%;
            }
      </style>
   </head>
   <body>
      <!-- partial:index.partial.html -->
      <header>
        <b>Hi, Nikhil</b>
      </header> 
      <div class="box-form" style="margin-top: 5% !important;">
         
      </div>
      <!-- partial -->
   </body>
   <script type = "text/javascript"
         src = "{{ url_for('static', filename = 'js/riderLogin.js') }}" ></script>
<!--   <script src="./static/js/riderLogin.js"></script>-->
</html>